.header {
  padding: 0px;
  height: 60px;
  background: 0%;
  .logo {
    width: 120px;
    height: 31px;
    background: grey;
    margin: 16px 24px 16px 0;
    float: left;
  }
  .menu {
    float: left;
  }
}
