.footer {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  height: 88px;
  background-color: #33363b;
  color: white;
  .footer-menu {
    span {
      margin-right: 5px;
    }
  }
  .copy-right {
    margin-top: 10px;
    font-size: 12px;
  }
  .follow-us {
    float: right;
    span {
      width: 25%;
      padding-left: 28px;
      img {
        height: 38px;
      }
    }
  }
}
